<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.level.full"/>

    <application
        android:name=".ReciboEnTiendaProveedores"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_oxxo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionAndStatusBar"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.MainActivity"
            android:theme="@style/Theme.ReciboEnTiendaProveedoresDirectos.NoActionBar" />

        <activity android:name=".presentation.scanning.ScannerActivity" />
    </application>

</manifest>